@model WebApp.Models.UserModel
@{
    ViewData["Title"] = "Add User";
}
<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm())
{
    <div>
        @Html.LabelFor(Model => Model.uid)
    </div>
    <div>
        @Html.EditorFor(Model => Model.uid)
    </div>

    <div>
        @Html.LabelFor(Model => Model.name)
    </div>
    <div>
        @Html.EditorFor(Model => Model.name)
    </div>

    <input type="submit" value="Submit">
}